
<nb-card size="medium">
    <nb-card-header>
      <h4>Inbox</h4>
      <button nbButton outline status="warning">Nouv. message</button>
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let message of messages">
        {{ message.subject }} - {{ message.user }}
      </nb-list-item>
    </nb-list>
  </nb-card>