<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>


  <nb-sidebar>    
    <app-navigation></app-navigation>
  </nb-sidebar>

  <nb-layout-column>
    <app-content></app-content>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
